<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<h2>{{ title }}</h2>
<div class="container-fluid" id="choice">
  <form action="/line" method="post">
      <div class="form-group">
          <label class="sr-only" for="obstat">Obs station</label>
          <select class="form-control" id="statselect" name="obstat">
              <option value="100996">Harmaja</option>
              <option value="101003">Kasuuni</option>
              <option value="100997">Mäkiluoto</option>
              <option value="100969">Bågaskär</option>
              <option value="105392">Itätoukki</option>
              <option value="101029">Eestiluoto</option>
          </select>
      </div>
      <div class="form-group">
          <button class="btn btn-default" type="submit">Select</button>
      </div>
  </form>
</div>
<!-- Plotly chart will be drawn inside this DIV -->
<div id="speed" width="30"></div>
<script>
  /* JAVASCRIPT CODE GOES HERE */
//var wavg = ({{ wmin }} + {{wmax }}) / 2;
const traces =   {
    x: {{ t | safe }},
    y: {{ s }},
    type: 'scatter',
    mode: 'markers+lines',
  };
var datas = [
  traces
];
const layouts = {
  title: 'Speed',
  height: 400,
//  xaxis: {
//    range: [ wavg - 45, wavg + 45]
//  },
//  yaxis: {
//    autorange: 'reversed',
//    scaleratio: 10
//    }
}
var configs = {responsive: true}
Plotly.newPlot('speed', datas, layouts, configs);
</script>

<!-- Plotly chart will be drawn inside this DIV -->
<div id="dir" width="30"></div>
<script>
var wavg = ({{ wmin }} + {{wmax }}) / 2;
const trace1 =   {
    y: {{ t | safe }},
    x: {{ d }},
    type: 'scatter',
    mode: 'markers+lines',
  };
var data = [
  trace1
];
const layout = {
  title: 'Direction',
  height: 800,
//  xaxis: {
//    range: [ wavg - 45, wavg + 45]
//  },
  yaxis: {
    autorange: 'reversed',
    scaleratio: 10
    }
}
var config = {responsive: true}
Plotly.newPlot('dir', data, layout, config);
</script>

</body>
</html>